.wy-nav-content {
    max-width: 1050px
}
.wy-side-nav-search {
    background-color: #b95f29;
}

/* Provide a button and shortened pres to reduce page heights */
.shorten-pre {
    max-height: 250px;
    overflow-y: hidden !important;
    transition: all 0.5s ease-out;
    box-shadow: 0px -40px 20px -10px rgba(206,206,206,1) inset;
    -webkit-box-shadow: 0px -40px 20px -10px rgba(206,206,206,1) inset;
    -moz-box-shadow: 0px -40px 20px -10px rgba(206,206,206,1) inset;
}

.release-shorten-pre {
    max-height: 5000px;
    transition: all 0.5s ease-in;
}

@media (max-width: 600px) {
    .shorten-pre, .release-shorten-pre {
        padding-top: 40px !important;
    }
}

.highlight {
    /* ensure our pre button is working */
    position: relative;
}

.shorten-pre-button {
    position: absolute;
    top: .25rem;
    right: .25rem;
    display: block;
    padding: .25rem .5rem;
    padding: 6px 12px 8px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px -1px hsla(0,0%,100%,.5), inset 0 -2px 0 0 rgba(0,0,0,.1);
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}